<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.gla.apping.quartet.businnesscardapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name="uk.ac.gla.apping.quartet.businesscardapp.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.gla.apping.quartet.businesscardapp.activities.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="uk.ac.gla.apping.quartet.businesscardapp.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.gla.apping.quartet.businesscardapp.activities.ImporterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uk.ac.gla.apping.quartet.businesscardapp.activities.CardViewerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>